{
    "input" : {
        "class": "File",
        "path" : "</full/file/path>"         # Required file; replace '</full/file/path>' with full path to input BAM [e.g., /my/path/to/input.bam]
    },
    "reference" : {
        "class" : "File",
        "path" : "</full/file/path>"         # Required file; replace '</full/file/path>' with full path to reference FASTA [e.g., /my/path/to/genome.fa.gz]
    },
    "minMapQ" : null,                       # Optional integer; skip alignments with mapQ smaller than this value; 'null' defaults to '0'
    "noBaq" : "false"                        # Optional boolean; replace 'false' with 'true' to disable per-Base Alignment Quality; 'null' defaults to 'false'
}
